@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #4A70A9;
    --cor-secundaria: #000000;
    --cor-fundo: #EFECE3;
    --cor-hover: #8FABD4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    height: 100%;
    margin: 0;
    padding: 0;
}


.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-primaria);
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 2rem;
}

.cabecalho {
    padding: 2% 0 0 20%;
    display: flex;
    justify-content: flex;

}

.apresentacao__imagem {
    width: 30%;
    border-radius: 1rem;
}

.apresentacao__links__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.625rem;
}


.titulo-destaque {
    color: var(--cor-primaria);
}

.apresentacao {
    padding: 5% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border: 0.125rem solid var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.34375rem 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: 1s;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    position: relative;
    top: -0.25rem;
    transition: 0.3s;
}

.rodape {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--cor-fundo);
    background-color: var(--cor-primaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

footer {
    margin: 0;
    padding-bottom: 0;
}

@media (max-width: 1400px) {
    .cabecalho {
        justify-content: center;
        padding: 6% 0 2% 0;
        font-size: 1rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        ;
        text-align: center;
        padding: 5%;
    }

    .apresentacao__conteudo,
    .apresentacao__links {
        width: 100%;
        align-items: center;
    }

    .apresentacao__links__navegacao {
        width: 70%;
    }

    .apresentacao__imagem {
        width: 50%;
    }

}